<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>DC Pivot Table</title>
    <script src='node_modules/crossfilter2/crossfilter.js'></script>
    <script src='node_modules/d3/dist/d3.js'></script>
    <script src='node_modules/dc/dc.js'></script>
    <script src='node_modules/lodash/lodash.js'></script>
    <script src='node_modules/papaparse/papaparse.js'></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/@marketconnect/vue-pivot-table/dist/vue-pivot-table.browser.js"></script>

    <script src="app.js"></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/dc/3.1.2/dc.css' rel='stylesheet' />
    <style>
        body, html { margin:0; padding:0; width: 100%; height: 100%; }
        #app {
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-template-areas: "sidebar main" ;
            grid-template-rows: 100vh; /* full height mapbox */
        }
        #side-bar {
            grid-area: sidebar;
            background: gainsboro;
            padding-left: 20px;
        }
        #side-bar > p {
            font-size: 40px;
        }
        #content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "top top"
                "left right"
            ;
            grid-gap: 10px;
            background-color: gainsboro;
        }
        #content > div {
            background-color: white;
            text-align: center;
        }
        #content > div > p {
            font-size: 40px;
        }
        table, th, td {
            border: 1px solid silver;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div id="app">
        <aside id="side-bar">
            <p>1. Data Table showing the rows which are not filtered out</p>
            <p>columns: year, age, gender, trips</p>
        </aside>
        <div id="content">
            <dc-pivot v-bind:pivot-dim="pivotDim"></dc-pivot>
            <div id="cat-chart" style="grid-area: left;">
                <h2>Responses by gender</h2>
            </div>
            <div id="pie-chart" style="grid-area: right;">
                <p>3. Pie chart showing total number of trips by year</p>
            </div>
        </div>
    </div>
</body>
<script type="text/x-template" id="dc-pivot">
    <pivot
        :data="rows"
        :fields="fields"
        :row-fields="rowFields"
        :col-fields="colFields"
        :reducer="reducer"
        :default-show-settings="defaultShowSettings"
        >
        <button slot="value" slot-scope="{ value }">
            {{ value.toLocaleString() }}
        </button>
        <button slot="header-button" slot-scope="{ value }">
            {{ value }}
        </button>
    </pivot>
</script>
</html>

